/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/bootstrap";
// @import "spinner";
// @import "utils";
// @import "rtl";
@import "responsive";
@import "~bootstrap/dist/css/bootstrap.css";

// @import "angular2-multiselect-dropdown/themes/default.theme.css";
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

@import "../app/part-scanner/components/camera/web-component.scss";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
body {
    // background-color: #f8f9fa;
    background-color: #fff;

    
    font-family: heebo, roboto;
    .cdk-overlay-container {
        z-index: 1050;
    }
    .mat-menu-content {
        padding-top: 0px !important ;
        padding-bottom: 0px !important;
    }
    .no-permission {
        // pointer-events: all !important;
        
        cursor: none;
        // &::after {
        //     content: "No permission";
        //     display: inline-block;
        //     position: absolute;
        //     border: 1px solid black;
        //     background: black;
        //     color: #fff;
        //     padding: 5px;
        //     border-radius: 5px;
        // }
    }
    .no-permission::active {
        pointer-events: none;
    }
}
