.scan-part-container {
  .header {
    .h1 {
      font-size: 24px;
    }
  }
  .search {
    display: flex;
    justify-content: flex-end;
  }

  .snapshot {
    margin-top: 10px;
    text-align: center;
    > img {
      padding: 0;
    }
  }
}
